:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffff;
}

.page {
  color: var(--primary-text-color);
  background-color: #e5e5e5;
}
/* Header */
.site-logo {
  color: #000000;
}
.logo-blue {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.site-nav .link {
  color: ;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.contact-nav :hover,
.contact-nav :focus {
  color: var(--accent-color);
}

/* Main */
.hero-title {
  color: #ffff;
  background-color: #2f303a;
}
.benefits .benefits-title {
  color: var(--title-text-color);
}
.title {
  color: var(--title-text-color);
}
.team {
  color: var(--title-text-color);
}

/* Footer */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  color: white;
}
.address-link {
  color: white;
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Основной черный цвет #212121 */
/* Вторичный черный цвет #757575 */
/* Акцент #2196F3 */
/* Белый #FFFFFF */
/* Цвет фона #E5E5E5 */
/* Вторичный цвет фона #E5E5E5*/
